.App {
  display: flex;
  padding-top: 150px;
  flex-direction: column;
  align-items: center;
}
.calculator {
  display: flex;
  background: white;
  height: 350px;
  width: 60%;
}
.setting {
  width: 50%;
}
.viewer {
  width: 50%;
}