.App {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
}
.calculator {
  margin-top: 87px;
  display: flex;
  background: white;
  height: 480px;
  width: 80%;
  border-radius: 25px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}
.setting {
  padding: 45px 48px 45px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.viewer {
  display: flex;
  width: 50%;
  margin: 32px 32px 32px 0;
  padding: 40px;
  background: #00474B;
  border-radius: 15px;
}